parameters:
    level: 8
    tmpDir: var/phpstan
    paths:
        - src
        - tests

    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
          message: '#return type has no value type specified in iterable type array.#'
          path: tests/*Test.php
        -
          message: '#with no value type specified in iterable type array.#'
          path: tests/*Test.php
